In [42]:
# import dependencies
import os
import pandas as pd
import json
import cv2
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'cv2'

# set path to data

In [21]:
# set paths to dataset
data_path = os.path.join(os.getcwd(), 'dataset')

# path to train & test folders
train_path = os.path.join(data_path, 'warm-up-train')
test_path = os.path.join(data_path, 'warm-up-test')

# path to image folders
train_image_path = os.path.join(train_path, 'train')
test_image_path = os.path.join(test_path, 'test')

# path to transcription folders
train_text_path = os.path.join(train_path, 'train_transcriptions.json')
test_text_path = os.path.join(test_path, 'test_transcription.json')

# set annotation path
train_label_path = os.path.join(train_path, 'train_emotion_labels.csv')

# import data

In [26]:
# read train set

# read label file
train_labels = pd.read_csv(train_label_path)

# read transcript
with open(train_text_path) as file:
    train_transcripts = json.load(file)
    
# number of image
num_train_image = len(os.listdir(train_image_path))
print("Number of training images", num_train_image)

Number of training images 800

In [27]:
# reat test set

# number of image
num_test_image = len(os.listdir(test_image_path))
print("Number of testing image", num_test_image)

Number of testing image 100

# inspect data

## train set

In [30]:
train_labels.head(5)

   1     0_35_4  0  0.1  1.1  1.2  1.3  0.2  0.3  0.4
0  2   1008_4_3  1    0    0    0    0    1    0    0
1  3  1016_29_1  0    0    0    0    0    0    1    0
2  4   1030_6_1  1    0    1    0    0    0    1    0
3  5   1037_8_4  1    1    0    0    0    0    1    0
4  6  1038_37_8  0    1    0    0    0    1    1    0

In [36]:
# reename columns
# 8 emotion classes including: 0=Angry, 1=Disgust, 2=Fear, 3=Happy, 4=Sad, 5=Surprise, 6=Neutral, 7=Others.
emotions = ['angry', 'disgus', 'fear', 'happy', 'sad', 'surprise', 'neutral', 'others']
train_labels = train_labels.rename(
    columns = {old:new for old, new in zip(
        train_labels.columns, ['id', 'image_id', 'angry', 'disgus', 'fear', 'happy', 'sad', 'surprise', 'neutral', 'others'])})

In [37]:
# statistics details
train_labels.describe()

,id,angry,disgus,fear,happy,sad,surprise,neutral,others
count,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.0
mean,401.000000,0.367960,0.229036,0.364205,0.310388,0.183980,0.370463,0.639549,0.0
std,230.795725,0.482552,0.420476,0.481508,0.462942,0.387711,0.483231,0.480432,0.0
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,201.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,401.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0
75%,600.500000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.0
max,800.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [41]:
# show pair of image, transcript, and label